<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Enregistrement IT8</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet">
    <link href="/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center  header-transparent ">
        <div class="container d-flex align-items-center">

            <div class="logo mr-auto">
                <h1 class="text-light"><a href="index.html">IT8</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>
        </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
        <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown">Enregistrement Etudiant</h2>
                </div>
            </div>


        </div>

        <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

    </section>
    <!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <form action="/api/data" method="POST">
                    <div class="form-row ">
                        <div class="form-group col-md-6">
                            <label for="nom" class="form-label col-lg-12">Nom</label>
                            <input type="text" class="form-control col-lg-12" id="nom" name="nom" placeholder="Entrer votre nom" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="prenom" class="form-label col-lg-12">Prenom</label>
                            <input type="text" class="form-control col-lg-12" id="prenom" name="prenom" placeholder="Entrer votre prenom" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email" class="form-label col-lg-12">Email</label>
                            <input type="email" class="form-control col-lg-12" id="email" name="email" placeholder="Entrer votre email" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="numero" class="form-label col-lg-12">Numero de telephone</label>
                            <input type="number" class="form-control col-lg-12" id="numero" name="numero" placeholder="Entrer votre numero" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="filiere" class="form-label col-lg-12">Filiere</label>
                            <input type="text" class="form-control col-lg-12" id="filiere" name="filiere" placeholder="RTEL2" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="origine" class="form-label col-lg-12">Ville d'origine</label>
                            <input type="text" class="form-control col-lg-12" id="origine" name="origine" placeholder="Adzope" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="commune" class="form-label col-lg-12">Commune</label>
                            <input type="text" class="form-control col-lg-12" id="commune" name="commune" placeholder="Yopougon" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="cite" class="form-label col-lg-12">Etes vous en cite ??</label>
                            <input type="text" class="form-control col-lg-12" id="cite" name="cite" placeholder="Oui ou Non" required>
                        </div>
                        

                        <div class="form-group col-lg-12">
                            <label for="social">Cas social</label>
                            <textarea class="form-control col-lg-12" rows="5" name="social" id="social" placeholder="Ce champ est réservé aux étudiants qui vivent une situation particulière. Ex: Problème de scolarité, de tickets du restaurant, etc..."></textarea>
                        </div>

                        <div class="form-group col-lg-12">
                            <button type="submit" class="btn btn-block btn-info">Valider</button>
                        </div>


                    </div>
                </form>

        </section>
    </main>
    <footer id="footer">
        <h2 style="text-transform: uppercase;">Promo IT8</h2>
    </footer>

    <!-- Vendor JS Files -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/vendor/php-email-form/validate.js"></script>
    <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/vendor/venobox/venobox.min.js"></script>
    <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/main.js"></script>

</body>

</html>